:root {
    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: -webkit-linear-gradient(200deg, #40A5DD, #CE6767);
    --vp-home-hero-image-background-image: -webkit-linear-gradient(-45deg, #40A5DD 50%, #CE6767 50%);
    --vp-home-hero-image-filter: blur(100px);
  }